#define TAPPING_TERM_MS 140
#define QUICK_TAP_MS 140
#define GLOBAL_QUICK_TAP_MS 150

&lt {
    flavor          = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms    = <QUICK_TAP_MS>;
};

&mt {
	flavor = "balanced";
	tapping-term-ms = <TAPPING_TERM_MS>;
	quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
	behaviors {
		/*
		- tap: space
		- hold: &mo lower
		*/
		/omit-if-no-ref/ sol: space_or_layer {
		// label = "SOL";
		compatible = "zmk,behavior-hold-tap";
		flavor = "balanced";
		tapping-term-ms = <TAPPING_TERM_MS>;
		bindings = <&mo>, <&kp>;
		#binding-cells = <2>;
		};
	};
};
